@tailwind base;
@tailwind components;
@tailwind utilities;

/// Box Shadow
$box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
$text-shadow: 0px 0px 5px rgba(0,0,0,0.5);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // Fade in
    transition: all 0.3s ease-in-out;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

/**
* Buttons
*/
.btn{
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;

    &:hover{
        opacity: 0.8;
    }

    &.btn-primary{
        background: #fff;
        color: #333;
    }

    &.btn-secondary{
        background: #fff;
        color: #333;
        border: 1px solid #333;
    }

    &.btn-primary-dark{
        background: #333;
        color: #fff;
        border: 2px solid #333;
    }
}

/**
* Inputs
*/
.inputField{

    // Search
    input[type="search"], 
    input[type="text"], 
    input[type="email"], 
    input[type="password"],
    textarea{
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        background: #f5f5f5;
        outline: none;
        border: 1px solid #fff;

        &:hover, :focus{
            background: #fff;
            box-shadow: $box-shadow;
            border: 1px solid #eee;
        }

        &::placeholder{
            color: #999;
        }

        &::-webkit-search-cancel-button{
            -webkit-appearance: none;
        }


    }
}

/**
* Header
*/
.header-hold{
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0px;

    z-index: 100001;

    .header{
        height: 80px;
        background: #fff;
        box-shadow: $box-shadow;

        border-radius: 5px;

        .header-inner{
            padding-left:10px;
            padding-right: 10px;

            .header-branding{
                padding: 15px;

                a{

                    img{
                        width: 50px;
                        border-radius: 50%;
                        float: left;
                    }

                    h3{
                        font-size: 1.4em;
                        font-weight: 600;

                        margin-left: 60px;
                        margin-top: 10px
                    }
                }
            }

            .header-search{
                padding-top: 18px;

                form{

                    .inputField{

                        input{
                            width: 100%;
                        }
                    }
                }
            }

            .header-nav{
                padding-right: 30px;

                ul{
                    list-style: none;
                    text-align: right;

                    padding-top: 28px;

                    li{
                        display: inline-block;
                        margin-left: 20px;

                        a{
                            font-weight: 600;
                            padding-bottom: 5px;                            
                        }
                    }
                }
            }
        }
    }
}

/**
* Footer
*/
.footer-hold{
    width: 100%;
    bottom: 0px;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 25px;
    border-top: 1px solid #eee;

    .footer{
        height: 80px;
        border-radius: 5px;

        .footer-inner{
            padding: 0px;

            a{
                border-bottom: 1px solid #333;
            }
        }
    }
}

/**
* Blips
*/
.blip{
    background: #fff;
    border-radius: 2px;
    box-shadow: $box-shadow;

    padding: 25px;

    margin-top: 25px;

    .blip-inner{

        .blip-head{
            padding-bottom: 20px;

            .blip-author{
                display: flex;

                .blip-author-avatar{

                    .profile_image{
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        background-size: cover;
                    }
                }

                .blip-author-name{
                    padding-left: 10px;

                    position:relative;
                    top: -2px;

                    width: 100%;

                    a{
                        display: block;

                        .blip-date{
                            color: #aaa;
                            font-weight: 400;

                        }
                    }

                    a.blip-name{
                        font-size: 1.2em;
                        font-weight: 600;
                    }

                    a.blip-username{
                        color: #aaa;
                        font-size: .8em;
                        font-weight: 400;
                    }
                }
            }
        }

        .blip-content{
            padding-bottom: 20px;

            .blip-content-text{
                font-size: 1.0em;
                font-weight: 400;
                line-height: 1.5em;
            }
        }

        .blip-actions{

            p{
                color: #aaa;
                font-weight: 400;
                font-size: .7em;
                padding: 0px;
            }

            .blip-actions-inner{

                .blip-action{
                    color: #aaa;
                    font-weight: 400;

                    margin-right: 12px;
                }

                .blip-action.unlike{
                    color: #f44336;
                }

                .blip-action.delete{
                    color: #f44336;
                    FLOAT: RIGHT;
                }

                .blip-action:hover{
                    color: #333;
                }
            }
        }

        .blip-reply{
            border-top: 1px solid #eee;
            padding-top: 25px;
            margin-top: 20px;
            display: none;

            p{
                color: #aaa;
                font-weight: 400;
                font-size: .7em;
                padding-bottom: 5px;
                padding-left: 15px;
            }

            form{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                input[type="submit"]{
                    padding: 5px 10px;
                    font-size: .9em;
                }

                input[type="text"]{
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 15px;
                    background: #f5f5f5;
                    outline: none;
                    border: 1px solid #fff;
                    resize: none;
                    margin-right: 15px;

                    &:hover, :focus{
                        background: #fff;
                        box-shadow: $box-shadow;
                        border: 1px solid #eee;
                    }

                    &::placeholder{
                        color: #999;
                    }

                    &::-webkit-search-cancel-button{
                        -webkit-appearance: none;
                    }
                }
            }
        }

        .blip-replies{
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid #eee;

            .blip-reply-item{
                padding-bottom: 20px;

                &:last-child{
                    padding-bottom: 0px;
                }

                .inner-blip-reply-item{
                    display: flex;
                    width: 100%;

                    .profile_image{
                        width: 40px;
                        height: 40px;

                        border-radius: 50%;

                        background-size: cover;

                        margin-right: 15px;

                        position: relative;
                        top: 5px;
                    }

                    .right_information{
                        width: 100%;

                        .user_info{

                            a{
                                display: block;
                                font-weight: 600;
                                font-size: .9em;
                                color: #333;

                                span{
                                    color: #aaa;
                                    font-weight: 400;
                                }
                            }

                            .date{
                                color: #aaa;
                                font-size: .8em;
                                font-weight: 400;
                                float: right;

                                position: relative;
                                top: -20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Welcome
*/
.welcome-jumbotron{
    height: 500px;
    width: 100%;
    background-color: #c2eaba;
    background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);

    padding-top: 200px;

    .inner-welcome-jumbotron{

        .row{

            .left-welcome{
                padding-left: 0px;

                h1{
                    color: #fff;
                    font-size: 3em;
                    font-weight: 600;
                    line-height: 1.2em;
                    text-shadow: $text-shadow;
                }

                p{
                    color: #fff;
                    font-size: 1.2em;
                    font-weight: 300;
                    line-height: 1.5em;
                    padding: 20px 0px;
                    text-shadow: $text-shadow;
                }
            }
        }
    }
}

.welcome-auth{
    position: relative;
    top: -120px;
    
    .welcome-auth-inner{
        width: 350px;
        background: white;
        border-radius: 5px;

        padding: 25px;
        box-shadow: $box-shadow;
        margin: 0% auto;
    }
}

.welcome-latest{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;

    .top-latest{

        .left-latest{
            padding-left: 0px;

            h2{
                font-size: 2em;
                font-weight: 600;
                line-height: 1.2em;
            }

            p{
                font-size: 1.2em;
                font-weight: 300;
                line-height: 1.5em;
                padding: 20px 0px;
            }
        }
    }

    .bottom-latest{
        padding-top: 25px;
        padding-bottom: 25px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .blip{
            width: 49%;
        }
    }
}

/**
* Page: Timeline
*/
.page-timeline{

    .timeline-head{
        padding-top: 150px;

        border-bottom: 1px solid #eee;
        background-color: #c2eaba;
        background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);

        .timeline-head-inner{
            padding-top: 50px;
            padding-bottom: 50px;

            .timeline-head-left{
                padding-left: 0px;

                h1{
                    font-size: 2em;
                    font-weight: 600;
                    line-height: 1.2em;

                    color: white;

                    text-shadow: $text-shadow;
                }

                p{
                    font-size: 1.2em;
                    font-weight: 300;
                    line-height: 1.5em;
                    padding: 20px 0px;
                    color:white;

                    text-shadow: $text-shadow;
                }
            }

            .timeline-head-bottom{
                padding-top: 25px;
    
                form{

                    .inputField{

                        textarea{
                            height: 100px;
                            resize: none;
                            width: 99%;

                            background-color: white;
                            border: 1px solid #eee;
                            border-radius: 5px;

                            padding: 20px;
                            box-shadow: $box-shadow;

                            &:focus{
                                outline: none;
                                background-color: #fff;
                                border: 1px solid #eee;
                            }
                        }
                    }

                    input[type="submit"]{
                        margin-top: 15px;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
    }

    .timeline-body{

        .timeline-body-inner{

            .timeline-left-body{
                // Two columns 

                .blip{
                    display: grid;
                    grid-template-rows: 1fr auto;
                }

                .no-blips{
                    padding-top: 25px;


                    .no-blips-inner{
                        
                        .no-blips-left{
                            text-align: left;

                            p{
                                font-size: 1.2em;
                                font-weight: 600;
                                line-height: 1.2em;
                            }
                        }

                        .no-blips-right{
                            text-align: left;

                            p{

                            }
                        }
                    }
                }
            }

            .timeline-right-body{

                .trending-blippers{

                    .trending-blippers-inner{
                        padding-top: 25px;
                        padding-bottom: 25px;

                        .trending-blippers-head{
                            padding-bottom: 20px;

                            h2{
                                font-size: 1.4em;
                                font-weight: 600;
                                line-height: 1.2em;
                            }

                            p{
                                padding-top: 5px;
                            }
                        }

                        .trending-blippers-body{

                            .trending-blipper{
                                padding-bottom: 20px;

                                .trending-blipper-inner{
                                    display: flex;

                                    .trending-blipper-left{

                                        .profile_image{
                                            border-radius: 50%;
                                            height: 50px;
                                            width: 50px;

                                            background-size: cover;
                                        }
                                    }

                                    .trending-blipper-right{
                                        padding-left: 10px;

                                        position:relative;
                                        top: 4px;

                                        .trending-blipper-right-inner{

                                            a{
                                                display: block;

                                                font-weight: 600;
                                            }

                                            p{
                                                color: #aaa;
                                                font-size: .8em;
                                                font-weight: 400;
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Profile
*/

/**
* Page: Settings
*/
.page-settings{

    .page-settings-head{
        padding-top: 150px;

        border-bottom: 1px solid #eee;
        background: #333;

        .page-settings-head-inner{
            padding-top: 50px;
            padding-bottom: 50px;

            .page-settings-head-left{
                padding-left: 0px;

                h1{
                    font-size: 2em;
                    font-weight: 600;
                    color: white;
                    line-height: 1.2em;
                }

                p{
                    color: white;
                    font-size: 1.2em;
                    font-weight: 300;
                    line-height: 1.5em;
                    padding: 20px 0px;
                }
            }
        }
    }

    .page-settings-bottom{
        padding: 15px;
        background: white;
        box-shadow:$box-shadow;

        margin-top: 25px;

        .inner-settings-body{
            padding: 20px;

            .profile-picture-form{

                .profile-picture{

                    .profile-picture-inner{

                        .profile-picture-left{
                            
                            h2{
                                font-size: 1.4em;
                                font-weight: 600;
                                line-height: 1.2em;
                            }

                            p{
                                padding-top: 5px;
                            }
                        }

                        .profile-picture-right{

                            .profile-picture-right-inner{
                                padding-bottom: 20px;

                               .profile-picture-right-left{
                                    padding-right: 20px;

                                    padding-top: 10px;
                                    padding-bottom: 10px;

                                    img{
                                        border-radius: 5px;
                                        height: 200px;
                                        width: 150px;

                                        border: 1px solid #eee;
                                        padding: 15px;
                                    }
                               }

                            }
                        }
                    }
                }
            }
        }
    }
}

/**
* Page: Profile
*/
.page-profile-top{
    height: 450px;
    border-bottom: 1px solid #eee;

    .page-profile-top-inner{

        .page-profile-top-banner{
            height: 350px;
            background-color: #c2eaba;
            background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);      

        }

        .page-profile-bottom-info{
            height: 100px;
            background: white;
            box-shadow: $box-shadow;

            .profile-bottom-inner{

                .profile-bottom-left{

                    .profile-bottom-left-inner{
                        display: flex;

                        .profile-bottom-left-left{
                            margin-right: 25px;

                            .profile-picture{
                                border-radius: 5%;
                                height: 200px;
                                width:200px;

                                background-size: cover;

                                position: relative;
                                top: -125px;

                                box-shadow: $box-shadow;
                            }
                        }

                        .profile-bottom-right-info{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;

                            .profile-bottom-middle{
                                padding-top: 15px;

                                h1{
                                    font-size: 2em;
                                    font-weight: 600;
                                    line-height: 1.2em;
                                }

                                p{
                                    padding-top: 5px;
                                    color: #aaa;
                                }
                            }

                            .profile-bottom-right{

                                .profile-stats{

                                    .profile-stats-inner{
                                        display: flex;

                                        .profile-stats-item{
                                            margin-left: 15px;

                                            .profile-stats-item-inner{
                                                padding-top: 20px;

                                                .profile-stats-item-left{

                                                    p{
                                                        text-align: center;
                                                        font-size: 1.0em;
                                                        font-weight: 600;
                                                    }
                                                }

                                                .profile-stats-item-right{
                                                    text-align: center;
                                                    font-size: 1.8em;
                                                    font-weight: 400;
                                                    color: #000;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-profile-bottom{

    .page-profile-bottom-inner{

        .page-profile-bottom-row{

            .page-profile-bottom-left{

                .page-profile-bio{
                    
                    .page-profile-bio-inner{
                        padding-top: 25px;
                        padding-bottom: 25px;

                        .page-profile-bio-head{
                            padding-bottom: 15px;

                            h2{
                                font-size: 1.4em;
                                font-weight: 600;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }

            .page-profile-bottom-middle{

                .no-blips{
                    padding-top: 25px;


                    .no-blips-inner{
                        
                        .no-blips-left{
                            text-align: center;

                            p{
                                font-size: 1.2em;
                                font-weight: 600;
                                line-height: 1.2em;
                            }
                        }

                        .no-blips-right{
                            text-align: center;

                            p{

                            }
                        }
                    }
                }
            }

            .page-profile-bottom-right{

                .page-profile-bottom-right-actions{
                    padding-top: 25px;

                    form{

                        button{
                            width: 100%;

                        }
                    }
                }
            }
        }
    }
}